<!-- ... (previous code remains unchanged) ... -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		<title>Document</title>
	</head>
	<body>
		<div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
            <a href="/" class="navbar-brand"><img src="https://uploads-ssl.webflow.com/62f375fa349867308a2e90dc/63030f03c32fa7cc10215a72_Logo.webp" loading="lazy" width="140" alt="Logo" class="navbar_logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="about-me" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="project" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="skills" class="nav-link">skill</a>
                    </li>
                </ul>
            </div>
            <div class="navbar_button-wrapper">
                <a href="#contact" class="btn btn-primary">Contact</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <div class="menu-icon">
                        <div class="menu-icon_line-top"></div>
                        <div class="menu-icon_line-middle">
                            <div class="menu-icon_line-middle-inner"></div>
                        </div>
                        <div class="menu-icon_line-bottom"></div>
                    </div>
                </button>
            </div>
        </nav>
    </div>
			<main class="container-fluid main-wrapper">
        <section id="about-me" class="section-home-about">
            <div class="page-padding">
                <div class="container-large">
                    <div class="padding-vertical padding-huge">
                        <div class="home-about_component row">
                            <div class="col-md-6">
                                <img src="About%20Me.png" loading="lazy" alt="" class="img-fluid home-about_image" />
                            </div>
                            <div class="col-md-6">
                                <div class="margin-bottom margin-small">
                                    <div class="text-weight-semibold">About</div>
                                </div>
                                <div class="margin-bottom margin-small">
                                    <h1>About Me</h1>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit
                                    non nulla in amet pellentesque.<br/><br/>Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



			<!-- ... (rest of the code remains unchanged) ... -->
		</body>
	</body>
</html>
