<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Webflow" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uploads-ssl.webflow.com/62f375fa349867308a2e90dc/css/portfolio-free-webflow-template.webflow.b608a5364.css" type="text/css">
    <link rel="shortcut icon" href="Favicon%2032.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="Favicon.png">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
            <a href="/" class="navbar-brand"><img src="https://uploads-ssl.webflow.com/62f375fa349867308a2e90dc/63030f03c32fa7cc10215a72_Logo.webp" loading="lazy" width="140" alt="Logo" class="navbar_logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="about-me" class="nav-link">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="project" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="skills" class="nav-link">skill</a>
                    </li>
                </ul>
            </div>
            <div class="navbar_button-wrapper">
                <a href="#contact" class="btn btn-primary">Contact</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <div class="menu-icon">
                        <div class="menu-icon_line-top"></div>
                        <div class="menu-icon_line-middle">
                            <div class="menu-icon_line-middle-inner"></div>
                        </div>
                        <div class="menu-icon_line-bottom"></div>
                    </div>
                </button>
            </div>
        </nav>
    </div>

    <main class="container-fluid">
        <header class="section-home-header">
            <div class="container">
                <div class="p-5">
                    <div class="home-header_component row">
                        <div class="col-md-6 home-header_left">
                            <div class="mb-2 font-weight-semibold">Hey, I am John</div>
                            <div class="mb-2">
                                <h1>I create <span class="text-primary">product design</span> and brand experience</h1>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                            <div class="button-row"><a href="#" class="btn btn-primary">Get In Touch</a></div>
                        </div>
                        <div class="col-md-6 home-header_right">
                            <img class="img-fluid home-header_image" src="Header%20Image.webp" alt="Header Image" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>

    <footer class="container-fluid">
        <div class="container">
            <div class="py-5">
                <div class="py-5">
                    <div class="row footer_top-wrapper">
                        <a href="/" aria-current="page" class="navbar-brand"><img src="Logo.webp" loading="lazy" width="140" alt="Logo" /></a>
                        <div class="col-md-4">
                            <div class="footer_link-list">
                                <a href="#services" class="footer_link">Services</a>
                                <a href="#about-me" class="footer_link">About me</a>
                                <a href="#portfolio" class="footer_link">Portfolio</a>
                                <a href="#testimonials" class="footer_link">Testimonials</a>
                                <a href="#portfolio" class="footer_link">Portfolio</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row footer_social-list">
                                <a href="#" class="footer_social-link">
                                    <div class="social-icon"></div>
                                </a>
                                <a href="#" class="footer_social-link">
                                    <div class="social-icon"></div>
                                </a>
                                <a href="#" class="footer_social-link">
                                    <div class="social-icon"></div>
                                </a>
                                <a href="#" class="footer_social-link">
                                    <div class="social-icon"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-divider"></div>
                <div class="pt-3">
                    <div class="row footer_bottom-wrapper">
                        <div class="col-md-6">
                            <div class="footer_credit-text">Made with 💖 by <a href="" target="_blank" class="text-style-link">Airdokan</a> and Powered by <a href="" target="_blank" class="text-style-link">Webflow</a></div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer_link-wrapper"><a href="#" class="footer_legal-link">Privacy Policy</a><a href="#" class="footer_legal-link">Terms of Service</a><a href="#" class="footer_legal-link">Cookies Settings</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>